{% extends 'base.html' %}
{% block aside %}
    <ul class="sidebar-menu tree" data-widget="tree">
    <li class="header">功能菜单</li>
    <li>
        <a href="{% url 'index' %}">
            <i class="fa fa-dashboard"></i>
            <span>主界面</span>
            <span class="pull-right-container"></span>
        </a>
    </li>
    <li class="treeview active menu-open">
        <a href="#">
            <i class="fa fa-area-chart"></i>
            <span>电池管理</span>
            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
        </a>
        <ul class="treeview-menu">

            <li>
                <a href="{% url 'monitor' %}">
                    <i class="fa fa-circle-o"></i>
                    电池运行状态监测
                </a>
            </li>
            <li class="active">
                <a href="{% url 'control' %}">
                    <i class="fa fa-circle-o"></i>
                    电池测试方案配置
                </a>
            </li>
        </ul>
    </li>
{% endblock %}
{% block main %}
    <section class="content">
        <div class="row">
            <div class="col-lg-3">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary" onclick="show_old_scheme()" style="width: 150px">
                        查看电子负载测试方案
                    </button>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary" onclick="show_old_oven_scheme()" style="width: 120px">
                        查看电炉方案
                    </button>
                </div>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-lg-3">
                <div class="table-responsive">
                    <table id="old-scheme-table" class="table">
                        <thead class="thead-dark">
                        <th>#</th>
                        <th>电子负载测试方案名</th>
                        <th>电子负载测试方案id</th>
                        </thead>
                        <tbody id="old-scheme-table-body"></tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="table-responsive">
                    <table id="old-oven-scheme-table" class="table">
                        <thead class="thead-dark">
                        <th>#</th>
                        <th>电炉方案名</th>
                        <th>电炉方案id</th>
                        </thead>
                        <tbody id="old-oven-scheme-table-body"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <hr>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <span>新建电子负载测试方案名：</span>
                <input type="text" id="new-scheme-name">
                <button type="button" class="btn btn-success" onclick="save_scheme()" style="width: 150px">保存电子负载测试方案
                </button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table id="test-scheme-table" class="table">
                        <thead class="thead-dark" id="table_head">
                        <tr id="table-head-content">
                            <th scope="col" id="schemeID_th">#</th>
                            <th scope="col" id="step_th">No.</th>
                            <th scope="col" id="LoadMode_th">负载工作模式</th>
                            <th scope="col" id="U_th">电压/mV</th>
                            <th scope="col" id="I_th">电流/mA</th>
                            <th scope="col" id="tLM_th">时间限制/s</th>
                            <th scope="col" id="ULM_th">电压限制/mV</th>
                            <th scope="col" id="ILM_th">电流限制/mA</th>
                            <th scope="col" id="Q_H2_th">H2流量</th>
                            <th scope="col" id="Q_N2_th">N2流量</th>
                            <th scope="col" id="Q_Air_th">Air流量</th>
                            <th scope="col" id="Q_CH4_th">CH4流量</th>
                            <th scope="col" id="Q_CO2_th">CO2流量</th>
                            <th scope="col" id="Q_H2O_th">H2O流量</th>
                        </tr>
                        </thead>
                        <tbody id="new-scheme-table-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-primary" onclick="create_new_row()" style="width: 120px">新建工步
                </button>
                <button type="button" class="btn btn-info" onclick="insert_row()" style="width: 120px">在上方插入工步</button>
                <button type="button" class="btn btn-info" onclick="row_go_down()" style="width: 120px">工步下移</button>
                <button type="button" class="btn btn-info" onclick="row_go_up()" style="width: 120px">工步上移</button>
                <button type="button" class="btn btn-danger" onclick="delete_row()" style="width: 120px">删除工步</button>
            </div>
        </div>
        <hr>
        <hr>
        <hr>


        <div class="row">
            <div class="col-lg-12">
                <span>新建电炉测试方案名：</span>
                <input type="text" id="new-oven-scheme-name">
                <button type="button" class="btn btn-success" onclick="save_oven_scheme()" style="width: 150px">
                    保存电炉负载测试方案
                </button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">
                <div class="table-responsive">
                    <table id="test-oven-scheme-table" class="table">
                        <thead class="thead-dark" id="oven_table_head">
                        <tr id="oven-table-head-content">
                            <th scope="col" id="schemeID_th">#</th>
                            <th scope="col" id="step_th">No.</th>
                            <th scope="col" id="LoadMode_th">目标温度/&#176C</th>
                            <th scope="col" id="U_th">持续时间/min</th>
                        </tr>
                        </thead>
                        <tbody id="new-oven-scheme-table-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-primary" onclick="oven_create_new_row()" style="width: 120px">新建工步
                </button>
                <button type="button" class="btn btn-info" onclick="oven_insert_row()" style="width: 120px">在上方插入工步
                </button>
                <button type="button" class="btn btn-info" onclick="oven_row_go_down()" style="width: 120px">工步下移
                </button>
                <button type="button" class="btn btn-info" onclick="oven_row_go_up()" style="width: 120px">工步上移</button>
                <button type="button" class="btn btn-danger" onclick="oven_delete_row()" style="width: 120px">删除工步
                </button>
            </div>
        </div>
        <hr>
        <hr>
        <hr>


        <div class="row" style="margin-left:0px">
            <div class="col-lg-12">

                <span>箱号：</span>
                <select id="box_num_selected" onchange="show_channel()">
                </select>
                &nbsp;&nbsp;

                <span>通道号：</span>
                <select id="channel_num_selected" onchange="show_gas_table()">
                </select>

                &nbsp;&nbsp;
                <span>电子负载方案id：</span>
                <select id="scheme_num_selected">
                    {#                    <option value="1">1</option>#}
                    {#                    <option value="2">2</option>#}
                    {#                    <option value="3">3</option>#}
                    {#                    <option value="4">4</option>#}
                </select>
                &nbsp;&nbsp;
                <span>电炉方案id：</span>
                <select id="oven_scheme_num_selected">
                    {#                    <option value="1">1</option>#}
                    {#                    <option value="2">2</option>#}
                    {#                    <option value="3">3</option>#}
                    {#                    <option value="4">4</option>#}
                </select>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-warning" style="width: 120px" onclick="make_test()">创建测试</button>
                <button type="button" class="btn btn-danger" style="width: 120px" onclick="start_oven()">启动电炉</button>
                <button type="button" class="btn btn-success" style="width: 120px" onclick="start_channel()">启动电子负载
                </button>

                {#                <button type="button" class="btn btn-danger" style="width: 120px" onclick="stop_channel()">停止通道</button>#}
                {#                <button type="button" class="btn btn-warning" style="width: 120px" onclick="pause_channel()">暂停通道</button>#}
            </div>
        </div>
        <hr>
        <hr>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <button onclick="set_gas()">确认</button>
            </div>
            <div class="col-lg-3">
                <div class="table-responsive">
                    <table id="gas_control-table" class="table">
                        <thead class="thead-dark" id="gas_table_head">
                        <tr id="gas-table-head-content">
                            <th scope="col" id="GasType">气体种类</th>
                            <th scope="col" id="GasCurr">目前设定值</th>
                            <th scope="col" id="GasNext">改变设定值</th>
                        </tr>
                        </thead>
                        <tbody id="gas-table-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}

{% block js %}
    <script src="/static/js/common/bootstrap-table.min.js"></script>
    <script src="/static/js/common/bootstrap-table-zh-CN.min.js"></script>
    <script src="/static/js/common/bootstrap-table-export.min.js"></script>
    <script src="/static/js/control.js"></script>
{% endblock js %}