{% extends 'base.html' %}
{% block aside %}
    <ul class="sidebar-menu tree" data-widget="tree">
    <li class="header">功能菜单</li>
    {#    <li>#}
    {#        <a href="{% url 'index' %}">#}
    {#            <i class="fa fa-dashboard"></i>#}
    {#            <span>主界面</span>#}
    {#            <span class="pull-right-container"></span>#}
    {#        </a>#}
    {#    </li>#}
    <li>
        <a href="{% url 'monitor' %}">
            <i class="fa fa-dashboard"></i>
            <span>运行状态监测</span>
            <span class="pull-right-container"></span>
        </a>
    </li>
    <li class="treeview active menu-open">
        <a href="#">
            <i class="fa fa-area-chart"></i>
            <span>测试系统控制</span>
            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{% url 'control' %}">
                    <i class="fa fa-circle-o"></i>
                    电子负载控制
                </a>
            </li>
            <li>
                <a href="{% url 'oven_control' %}">
                    <i class="fa fa-circle-o"></i>
                    电炉控制
                </a>
            </li>
            <li class="active">
                <a href="{% url 'gas_control' %}">
                    <i class="fa fa-circle-o"></i>
                    气流量控制
                </a>
            </li>
        </ul>

    </li>
{% endblock %}
{% block main %}
    <section class="content">
        <div class="row" style="margin-left:0px">
            <div class="col-lg-12">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="box_num_selected">箱号</label>
                        <select class="form-control" id="box_num_selected" onchange="show_channel()"></select>
                    </div>
                    <div class="form-group">
                        <label for="channel_num_selected">通道号</label>
                        <select class="form-control" id="channel_num_selected"></select>
                    </div>
                    <button type="button" class="btn btn-default" onclick="show_gas_table()">选择通道</button>
                </form>
            </div>

            <div class="col-lg-6">
                <div class="table-responsive">
                    <table id="gas_control-table" class="table">
                        <thead class="thead-dark" id="gas_table_head">
                        <tr id="gas-table-head-content">
                            <th scope="col" id="GasType">气体种类</th>
                            <th scope="col" id="GasCurr">目前设定值</th>
                            <th scope="col" id="GasNext">改变设定值</th>
                        </tr>
                        </thead>
                        <tbody id="gas-table-body">
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <button onclick="set_gas()">确认</button>
            </div>
        </div>
    </section>
{% endblock main %}

{% block js %}
    <script src="/static/js/common/bootstrap-table.min.js"></script>
    <script src="/static/js/common/bootstrap-table-zh-CN.min.js"></script>
    <script src="/static/js/common/bootstrap-table-export.min.js"></script>
    <script src="/static/js/control.js"></script>
    <script>
        $(document).ready(function () {
            get_boxes();
            show_gas_table();

        });
    </script>
{% endblock js %}