{% extends 'base.html' %}
{% block aside %}
    <ul class="sidebar-menu tree" data-widget="tree">
    <li class="header">功能菜单</li>
{#    <li class="active">#}
{#        <a href="{% url 'index' %}">#}
{#            <i class="fa fa-dashboard"></i>#}
{#            <span>主界面</span>#}
{#            <span class="pull-right-container"></span>#}
{#        </a>#}
{#    </li>#}
    <li>
        <a href="{% url 'monitor' %}">
            <i class="fa fa-dashboard"></i>
            <span>运行状态监测</span>
            <span class="pull-right-container"></span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-area-chart"></i>
            <span>测试系统控制</span>
            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{% url 'control' %}">
                    <i class="fa fa-circle-o"></i>
                    电子负载控制
                </a>
            </li>
            <li>
                <a href="{% url 'oven_control' %}">
                    <i class="fa fa-circle-o"></i>
                    电炉控制
                </a>
            </li>
            <li>
                <a href="{% url 'gas_control' %}">
                    <i class="fa fa-circle-o"></i>
                    气流量控制
                </a>
            </li>
        </ul>

    </li>
{% endblock %}
{% block main %}
    <section class="content">
        <!--<div id="sid" style="display: none;">{{ customer.sid }}</div>
	<div class="row">
		<div class="col-lg-3 col-xs-6">
			<form action="/enable" method="post" id="boxId">
				<div>
					boxID:<input type="text" class="form-control" name="boxid" /><br>							
					<input type="submit" value="提交">
				</div>
			</form>
			
			chnNum:<input type="text" class="form-control" name="chnum" /><br>
            <button class="btn btn-default" form="boxId" type="submit" onclick="get_ranking_data()" style="margin-left: 5px;margin-top:23px;">联机</button>						
			 
			 <div class="small-box bg-orange">
				<div class="inner">
					<h3>{{ customer.today_e }}<sup style="font-size: 20px">V</sup></h3>
					<p>1</p>
				</div>
				<div class="icon">
					<i class="ion ion-stats-bars"></i>
				</div>
			</div><form action="/connect" method="get"></form>
			
		</div>
	</div>-->
        <div class="row">
            <div class="col-lg-6">
                <embed src="/static/img/topo.svg" width="700" height="700"
                       type="image/svg+xml"
                       pluginspage="http://www.adobe.com/svg/viewer/install/"/>

            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <div class="col-lg-12 col-xs-12" style="margin-left:0px;padding:0px 5px 0px 0px">
                    <div class="small-box bg-black">
                        <div class="inner">
                            <p id="id">累计运行时间</p>
                            <p style="font-size:20px;line-height:10px;" id="u">2.000 <sup
                                    style="font-size: 12px">h</sup></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xs-12" style="margin-left:0px;padding:0px 5px 0px 0px">
                    <div class="small-box bg-black">
                        <div class="inner">
                            <p id="id">累计运行时间</p>
                            <p style="font-size:20px;line-height:10px;" id="u">2.000 <sup
                                    style="font-size: 12px">h</sup></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xs-12" style="margin-left:0px;padding:0px 5px 0px 0px">
                    <div class="small-box bg-black">
                        <div class="inner">
                            <p id="id">累计运行时间</p>
                            <p style="font-size:20px;line-height:10px;" id="u">2.000 <sup
                                    style="font-size: 12px">h</sup></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xs-12" style="margin-left:0px;padding:0px 5px 0px 0px">
                    <div class="small-box bg-black">
                        <div class="inner">
                            <p id="id">累计运行时间</p>
                            <p style="font-size:20px;line-height:10px;" id="u">2.000 <sup
                                    style="font-size: 12px">h</sup></p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
    </section>
{% endblock main %}

{% block js %}
    <script>
        var myVar = setInterval(function () {
            getRealData()
        }, 1000);

        function getRealData() {
            var result;
            $.ajax({
                url: '/getRealData/',
                type: 'GET',
                dataType: 'json',
                async: false,
                success: function (data_result) {
                    result = data_result;
                }
            });
            document.getElementById("u").innerHTML = 1.8;
        }
    </script>
    <script src="/static/js/common/echarts.min.js"></script>
    <script src="/static/js/index.js"></script>
    <script>
        function get_ranking_data() {
            var optObj = new Object();
            optObj.typeOption = $('[name=typeOption]:checked').val();
            optObj.date = $('[name=date]').val();
            var urlopt = $.param(optObj);
            var result;
            $.ajax({
                url: '/getranking/?' + urlopt,
                type: 'GET',
                dataType: 'json',
                async: false,
                success: function (data_result) {
                    result = data_result;
                }
            });

            return result;
        }

        function connectBox() {
            var boxid = $('[name=boxid]').val();
            var result;
            $.ajax({
                url: '/connect/',
                type: 'GET',
                dataType: 'json',
                async: false,
                success: function (data_result) {
                    result = data_result;
                }
            });
            alert(result);
        }
    </script>
{% endblock %}